.headerContainer{
    background-color: #fff;
    padding: 25px 60px 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.7px solid #e6e9eb;
    margin-bottom: 0.1px;
}
.a{
    font-size: 16px;
    color: #8D98A4;
    font-weight: 400;
    margin-right: 24px;
}
.header-items{
    display: flex;
    align-items: center;
}
.a2{
    font-size: 16px;
    color: #8D98A4;
    font-weight: 400;
    margin-right: 10px;
}
.dropdown{
    font-size: 11px;
    color: #8D98A4;
    margin-top: 6px;
    margin-right: 24px;
    cursor: pointer;
}
.dropdown2{
    font-size: 11px;
    color: #262728;
    margin-top: 6px;
    cursor: pointer;
    margin-left: 8px;
}

.greyContainer{
    background-color: #F5F6F7;
    padding: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    color: rgb(45, 43, 43);
    font-weight: 400;
    border-radius: 7px;
    margin-right: 20px;
    cursor: pointer;
}
.dropProfile{
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.iconContainer{
    background-color: #E40443;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    color: #fff;
    font-weight: 400;
    border-radius: 7px;
    cursor: pointer;
}